h1
{
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
}
.container
{
    border-radius: 5px;
    background-color: #eee9e9;
    color: #494646;
    padding: 20px;
  }

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #111;
  padding: 8px;
  color: #111;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: rgb(226, 215, 215);
  }
  input
   {
    width: 100%;
    padding: 12px;
    border: 1px solid #1d1b1b;
    border-radius: 4px;
    resize: vertical;
    background-color: #ffffff;
    color: rgb(63, 59, 59);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #b8b7b7;
    cursor: pointer;
    float: right;
  }

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
label
{
  flex: 1;
  margin-right: 1rem;
  text-align: right;
}
div
{
  color: #ddd;
  background-color: #ffffff;
}